#bootstrap-overrides .navbarWrapper {
    margin-bottom: 1rem;
}

#bootstrap-overrides .handwriting {
    font-family: "Reenie Beanie", serif;
}

#bootstrap-overrides .popover {
    font-family: "Reenie Beanie", serif;
}

#bootstrap-overrides blockquote {
    font-family: "Special Elite", sans-serif;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 2rem;
}

#bootstrap-overrides blockquote footer {
    padding-left: 8rem;
}

#bootstrap-overrides .card-header {
    font-family: "Fredericka the Great", serif;
}

#bootstrap-overrides .cardBox .card {
    width: 48%;
    margin: 0.5rem;
}

#bootstrap-overrides .card a {
    color: black;
}

#bootstrap-overrides .card a:hover {
    text-decoration: none;
}
