// Brand Colors
$blue: #0285d1;
$indigo: #9055a2;
$purple: #7b1e7a;
$pink: #e55381;
$red: #fe4a49;
$orange: #ff7733;
$yellow: #f7f052;
$green: #46af69;
$teal: #2f9c95;
$cyan: #5283dd;
$white: #fff;
$gray-100: #fffffa;
$gray-200: #cdd7d6;
$gray-300: #949396;
$gray-400: #706c61;
$gray-500: #574d68;
$gray-600: #3c3744;
$gray-700: #2d3047;
$gray-800: #141115;
$gray-900: #000103;
$black: #000;
$grays: (100: $gray-100, 200: $gray-200, 300: $gray-300, 400: $gray-400, 500: $gray-500, 600: $gray-600, 700: $gray-700, 800: $gray-800, 900: $gray-900);
$theme-colors: (primary: $blue, secondary: $gray-600, success: $green, info: $cyan, warning: $yellow, danger: $red, light: $gray-100, dark: $gray-800);
$colors: (blue: $blue, indigo: $indigo, purple: $purple, pink: $pink, red: $red, orange: $orange, yellow: $yellow, green: $green, teal: $teal, cyan: $cyan, white: $white, gray: $gray-600,gray-dark: $gray-800);
$theme-color-interval: 8%;

// Links
$link-decoration: underline;
$link-color:	$blue;
$link-hover-color:	$cyan;

$enable-shadows: true;

// Spacers
$spacer: 1rem;
$spacers:
(
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3
);

// Fonts
$font-size-base: 1.7rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * .875;
$font-family-sans-serif: 'Sue Ellen Francisco', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-weight-base: 400;
$line-height-base:  1.7;
$headings-font-family: "Fredericka the Great", cursive;
$headings-font-weight:  570;
$blockquote-small-color: $gray-800 !default;
$h1-font-size:                $font-size-base * 2.25;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.50;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                  $font-size-base;
$headings-color:                $purple;
$blockquote-small-color:      $gray-600;
$blockquote-small-font-size:  $font-size-sm;
$blockquote-font-size:        $font-size-sm;

// Borders
$border-radius:               25px;
$border-width:	                1px;

// Tables
$table-accent-bg: $gray-400 !default;
$table-hover-bg: $white !default;
$table-border-width: 1px !default;
$table-border-color: $gray-800 !default;

// Forms
$input-border-color:                    $gray-800 !default;
$input-focus-border-color:              $input-border-color !default;
$input-border-radius:                   25px;
$input-border-radius-lg:                25px;
$input-border-radius-sm:                25px;

// Dropdowns
$dropdown-border-color:             $gray-800 !default;
$dropdown-divider-bg:               $gray-800 !default;
$dropdown-link-hover-color:         $white !default;
$dropdown-link-hover-bg:            $gray-800 !default;

// Navs
$nav-tabs-border-color:             $gray-800 !default;
$nav-tabs-link-hover-border-color:  $gray-800 !default;
$nav-tabs-link-active-color:        $gray-800 !default;
$nav-tabs-link-active-border-color: $gray-800 !default;

// Navbar
$navbar-dark-color:                 $blue;
$navbar-dark-hover-color:           $teal;
$navbar-dark-toggler-border-color:  $white;
$navbar-dark-active-color:          $red;
$navbar-dark-brand-color:           $yellow;
$navbar-dark-brand-hover-color:     $orange;
$navbar-brand-font-size:            $font-size-lg;

// Pagination
$pagination-border-color:           $gray-800 !default;
$pagination-hover-color:            $white !default;
$pagination-hover-bg:               $gray-800 !default;
$pagination-hover-border-color:     $gray-800 !default;
$pagination-disabled-color:         $gray-400 !default;
$pagination-disabled-border-color:  $gray-800 !default;

// Jumbotron
$jumbotron-bg:                      $yellow;
$jumbotron-color:                   $blue;

// Cards
$card-border-width:                 2px !default;
$card-border-color:                 $gray-800;
$card-color:                        $gray-700;
$card-bg:                           $white;

// Popovers
$popover-border-color:              $gray-800;
$popover-box-shadow:	            10 25rem 5rem $black;
$mark-bg:                           rgba($yellow, 0.2);

// Badges
$badge-padding-y:                   0.5em !default;
$badge-padding-x:                   1.2em !default;

// Modals
$modal-content-border-color:        $gray-800 !default;
$modal-header-border-color:         $gray-800 !default;

// Progress bars
$progress-bg:                       $gray-200;
$progress-bar-bg:                   $gray-400;
$progress-border-radius:            25px;

// List group
$list-group-border-color:           $gray-800 !default;
$list-group-hover-bg:               $yellow !default;
$list-group-active-color:           $white !default;
$list-group-active-bg:              $pink !default;
$list-group-action-color:           $gray-700 !default;

// Breadcrumbs
$breadcrumb-bg:                     $white !default;
$breadcrumb-divider-color:          $gray-800 !default;
$breadcrumb-active-color:           $gray-800 !default;

// Close
$close-color:                       $white !default;
$close-text-shadow:                 none !default;

// Buttons
$btn-border-radius:                 $border-radius;

// hr
$hr-margin-y:                   	$spacer * 2;
$hr-border-width:	                5 * $border-width;
$hr-border-color:	                $gray-600;


///////////////////////////////////////////////////////////////
// must be last
@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/forms";
